.listContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    background-color: #febb02;
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}


.listSearchTitle {

    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.listSearchItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.listSearchItem>label {
    font-size: 12px;

}

.listSearchItem>input {
    height: 30px;
    border: none;
    padding: 5px;
}


.listSearchItem>span {
    height: 30px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}


.listSearchCon {
    padding: 10px;
}


.listSearchOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;

}

.listSearchOptionInput {
    width: 50px;

}

.listSearch>button {
    padding: 10px;
    background-color: #0071c2;
    color: #fff;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}




.listResult {
    flex: 3;

}